* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: url('images/chill.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 200%;
    padding: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0 16px 0;
    border-bottom: 3px solid #df8e00;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background: rgba(255, 255, 255, 0.3);
}

main {
    display: flex;
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #fff;
    font-size: 16px;
}

.current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.3);
}

.current .hi-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 4px rgba(0, 0, 0, 0.4);
}